*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
.container2{
    margin: auto;
    height: 200px;
    margin: auto;
    width: 60%;
    background-color: pink;
    padding-top: 10px;
    align-items: center;
}
.container3{
    display: flex;
    margin: auto;
    height: 200px;
    padding-top: 50px;
    margin-bottom: 30px;
    
    
}
.container4{
    width: 80%;
    height: 300px;
    background-color: green;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.debug [ class^= "col-"] {
    border: 1px solid;
    
}
header{
    background-color: aqua;
    height: 100px;
}
footer{

}

.col-1{
    width: calc( (100% / 12) * 1);
}
.col-2{
    width: calc( (100% / 12) * 2);
}
.col-3{
    width: calc( (100% / 12) * 3);
    background-color: orange;
    height: 30px;
}
.col-4{
    width: calc( (100% / 12) * 4);
    background-color: gray;
    height: 100px;
}
.col-5{
    width: calc( (100% / 12) * 5);
}
.col-6{
    width: calc( (100% / 12) * 6);
    background-color: orange;
    height: 30px;
}
.col-7{
    width: calc( (100% / 12) * 7);
}
.col-8{
    width: calc( (100% / 12) * 8);
    background-color: blue;
    height: 100px;

}
.col-9{
    width: calc( (100% / 12) * 9);
}
.col-10{
    width: calc( (100% / 12) * 10);
}
.col-11{
    width: calc( (100% / 12) * 11);
}
.col-12{
    width: calc( (100% / 12) * 12);
}
.cover{
    background-image: url(../img/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
}
.menu{
    background-color: #F6F6F6;
    display: flex;
}
